In [24]:
import pandas as pd
file = 'data/gender_age_train.csv' 
gender = pd.read_csv(file)
gender.head(2)

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38

In [25]:
file = 'data/label_categories.csv' 
labels = pd.read_csv(file)
labels.head(20)

    label_id               category
0          1                    NaN
1          2         game-game type
2          3       game-Game themes
3          4         game-Art Style
4          5      game-Leisure time
5          6    game-Cutting things
6          7     game-Finding fault
7          8   game-stress reliever
8          9               game-pet
9         10            game-Answer
10        11           game-Fishing
11        12   game-Music and Dance
12        13            game-Puzzle
13        14  game-Adventure puzzle
14        15    game-Parkour Racing
15        16           game-Parkour
16        17            game-Racing
17        18        game-Motorcycle
18        19            game-Rowing
19        20          game-aircraft

In [26]:
file = 'data/phone_brand_device_model.csv' 
phones = pd.read_csv(file)
phones.head(2)

             device_id phone_brand device_model
0 -8890648629457979026          小米           红米
1  1277779817574759137          小米         MI 2

In [27]:
gender_phone=pd.merge(gender,phones,how="inner",on="device_id")
gender_phone.head(2)

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38          小米         MI 2
1 -2897161552818060146      M   35  M32-38          小米         MI 2

In [5]:
X_values=gender_phone[['phone_brand','device_model']]
y_values=gender_phone['gender']

In [6]:
from sklearn.feature_extraction import DictVectorizer
v = DictVectorizer(sparse=False)
data_dict = X_values.to_dict('records')

encoded_data=v.fit_transform(data_dict)

y_list=[]
for c in y_values.values:
    if c=='M': 
        y_list.append(0)
    else :
        y_list.append(1)
from numpy import array
y_array = array(y_list)

y=pd.Series(y_array)
X=pd.DataFrame(encoded_data, columns=v.get_feature_names())

X.head()

,device_model=1100,device_model=1105,device_model=1107,device_model=2,device_model=201,device_model=2016版 Galaxy A5,device_model=2016版 Galaxy A7,device_model=2016版 Galaxy A9,device_model=210R,device_model=3,...,phone_brand=锤子,phone_brand=长虹,phone_brand=青橙,phone_brand=青葱,phone_brand=飞利浦,phone_brand=飞秒,phone_brand=首云,phone_brand=魅族,phone_brand=鲜米,phone_brand=黑米
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
y_values.value_counts()

M    48034
F    26805
Name: gender, dtype: int64

In [8]:
# null accuracy
y.value_counts().head(1) / len(y)

0    0.641831
dtype: float64

In [9]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [10]:

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [12]:
y_pred_class_gnb = gnb.predict(X_test)

In [13]:
y_pred_class_logreg = logreg.predict(X_test)

In [14]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class_gnb)

0.37482629609834311

In [15]:
metrics.accuracy_score(y_test, y_pred_class_logreg)

0.65093532870122928

In [16]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train.head(10000), y_train.head(10000))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [17]:
y_pred_knn = neigh.predict(X_test.head(10000))

In [22]:
metrics.accuracy_score(y_test.head(10000), y_pred_knn)

0.59750000000000003

In [ ]:
y_pred_knn

In [19]:
X.head()

,device_model=1100,device_model=1105,device_model=1107,device_model=2,device_model=201,device_model=2016版 Galaxy A5,device_model=2016版 Galaxy A7,device_model=2016版 Galaxy A9,device_model=210R,device_model=3,...,phone_brand=锤子,phone_brand=长虹,phone_brand=青橙,phone_brand=青葱,phone_brand=飞利浦,phone_brand=飞秒,phone_brand=首云,phone_brand=魅族,phone_brand=鲜米,phone_brand=黑米
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
len(y_pred_knn)

10000

In [29]:
gender_phone.head(2)

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38          小米         MI 2
1 -2897161552818060146      M   35  M32-38          小米         MI 2

In [ ]:
p2=gender_phone[[device]]